
/vendor/*
/config/app.php

/tmp/cache/models/*
!/tmp/cache/models/empty
/tmp/cache/persistent/*
!/tmp/cache/persistent/empty
/tmp/cache/views/*
!/tmp/cache/views/empty
/tmp/sessions/*
!/tmp/sessions/empty
/tmp/tests/*
!/tmp/tests/empty
!/tmp/debug_kit.sqlite
/tmp/*


/logs/*
!/logs/empty
.idea/
!.idea/workspace.xml


composer.lock
composer.phar
bin/
logs/
tests/TestCase/Controller/Admin/
tmp/
vendor/
.editorconfig
.htaccess
.travis.yml
src/Controller/Component/empty
src/Model/Entity/empty
src/Model/Table/empty
tests/Fixture/empty
webroot/js/empty
